*, *:before, *:after {
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(31, 49, 31);
    padding-top: 200px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 60px;
    font-family: 'Candara';
    align-items: center;
    align-content: center;
  }

header {
  position: fixed;
  background-color: white;
  color: rgb(31, 49, 31);
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1000;
  height: 200px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  /* transition: height 0.3s ease; Smooth transition */
}

header.minimized {
  height: 50px;
  padding: 0;
}

header .minimized-content {
  opacity: 1;
}

header.minimized .minimized-content {
  display: none;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 25px;
  color: rgb(188, 71, 71);
}

a {
  font-size: 20px;
  color: black;
}

p {
  font-size: 15px;
  color: white;
}

button {
  cursor: pointer;
}

form {
  display: grid
}

#home{
  /* display: flex; */
  left: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: calc(100vh - 260px);
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

#home img {
  padding: 0;
  margin: 0;
  /* height: calc(100vh - 350px); */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header.minimized .tab-names {
  display: flex; 
}

.tab-names {
  display: flex;
  justify-content: center;
}

.tab-names h2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  text-decoration: none;
}

.tab-names h2.active-tab {
  text-decoration: underline;
  color: rgb(31, 49, 31);
}

.tab-names h2:hover {
  text-decoration: underline;
  color: rgb(188, 71, 71);
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

.tab-content h2 {
  background-color: white;
}

.book-info {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.book-info:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

#all-books {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.book-listing {
  margin: 10px;
  padding: 0px;
  height: 50%;
  max-width: 22%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
  display: flex;
  left: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  height: 60px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-top: 4px solid black;
}

footer div {
  float: left;
  margin: 10px;
}
footer img {
  width: 30px;
}